@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: "Poppins", sans-serif;
    background: url("/assets/aqua_music_notes_by_seanscreations1_dhepeep.png") no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 2rem;
    color: #fff; 
}

#music-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem;
}

.card {
    position: relative;
    width: 300px; 
    height: 250px;
    border-radius: 14px;
    z-index: 1111;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0.5rem 3rem; 
    background-color: transparent; 
    border: 1px solid rgba(255, 255, 255, 0.2);
}

.bg {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 290px; 
    height: 240px;
    z-index: 2;
    background: rgba(255, 255, 255, .95); 
    backdrop-filter: blur(24px);
    border-radius: 10px;
    overflow: hidden;
    outline: none; 
}

.blob {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #ff0000;
    opacity: 1;
    filter: blur(12px);
    animation: blob-bounce 5s infinite ease;
}

@keyframes blob-bounce {
    0% {
        transform: translate(-100%, -100%) translate3d(0, 0, 0);
    }

    25% {
        transform: translate(-100%, -100%) translate3d(100%, 0, 0);
    }

    50% {
        transform: translate(-100%, -100%) translate3d(100%, 100%, 0);
    }

    75% {
        transform: translate(-100%, -100%) translate3d(0, 100%, 0);
    }

    100% {
        transform: translate(-100%, -100%) translate3d(0, 0, 0);
    }
}

.content {
    z-index: 3;
    text-align: center;
    color: #000; 
}

.content h2 {
    margin-top: 0;
}

.content a {
    color: #333;
    text-decoration: none;
}

.content a:hover {
    text-decoration: underline;
}
