/* navbar.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

nav {
    background-color: #000000;
    padding: 1rem;
    font-family: "Poppins", sans-serif;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color:#00b533;
    font-size: 2rem;
    font-weight: bold;
    margin-left: 1rem;
}

nav ul {
    list-style: none;
    margin: 0.2rem;
    padding: 0;
    display: flex;
    align-items: center;  /* Aligns items vertically */
}

nav ul li {
    margin-right: 1.5rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 0.5rem;
    border-radius: 1rem;
    font-weight: bold;
    transition: color 0.3s, background-color 0.3s; /* Smooth transition for color change */
}

nav ul li a:hover {
    background-color: white;
    color: black;
    border-radius: 1rem;
}
