/* search.css */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  background: url("/assets/aqua_music_notes_by_seanscreations1_dhepeep.png") no-repeat
    center center fixed;
  background-size: cover;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  text-align: center;
}

.search-container {
  padding: 2rem;
  border-radius: 2%;
  min-width: 60rem;
  max-width: 60rem;
  width: auto;
  color: #fff;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(19px);
  -webkit-backdrop-filter: blur(19px);
  border: 1px solid rgba(0, 0, 0, 0.31);
}

.search-container h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

#search-form {
  margin-bottom: 2rem;
}

#search-input {
  width: 95%;
  padding: 0.8rem;
  border: none;
  border-radius: 1rem;
  box-sizing: border-box;
  font-size: 1rem;
}

#search-input::placeholder {
  color: #ccc;
}

#search-input:focus {
  outline: none;
}

#search-results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.track {
  background-color: #fff;
  border: 1px solid #ccc;
  color: black;
  border-radius: 8px;
  padding: 1rem;
  margin: 0.5rem;
  width: 300px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.track h2 {
  margin-top: 0;
}

.track a {
  color: #333;
  text-decoration: none;
}

.track a:hover {
  text-decoration: underline;
}
.button {
    position: relative;
    padding: 10px 22px;
    border-radius: 6px;
    border: none;
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    background-color: #00b533;
    transition: all 0.2s ease;
  }
  
  .button:active {
    transform: scale(0.96);
  }
  
  .button:before,
  .button:after {
    position: absolute;
    content: "";
    width: 150%;
    left: 50%;
    height: 100%;
    transform: translateX(-50%);
    z-index: -1000;
    background-repeat: no-repeat;
  }
  
  .button:hover:before {
    top: -70%;
    background-image: radial-gradient(circle, #00b533 20%, transparent 20%),
      radial-gradient(circle, transparent 20%, #00b533 20%, transparent 30%),
      radial-gradient(circle, #00b533 20%, transparent 20%),
      radial-gradient(circle, #00b533 20%, transparent 20%),
      radial-gradient(circle, transparent 10%, #00b533 15%, transparent 20%),
      radial-gradient(circle, #00b533 20%, transparent 20%),
      radial-gradient(circle, #00b533 20%, transparent 20%),
      radial-gradient(circle, #00b533 20%, transparent 20%),
      radial-gradient(circle, #00b533 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
      10% 10%, 18% 18%;
    background-position: 50% 120%;
    animation: greentopBubbles 0.6s ease;
  }
  
  @keyframes greentopBubbles {
    0% {
      background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
        40% 90%, 55% 90%, 70% 90%;
    }
  
    50% {
      background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
        50% 50%, 65% 20%, 90% 30%;
    }
  
    100% {
      background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
        50% 40%, 65% 10%, 90% 20%;
      background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
  }
  
  .button:hover::after {
    bottom: -70%;
    background-image: radial-gradient(circle, #00b533 20%, transparent 20%),
      radial-gradient(circle, #00b533 20%, transparent 20%),
      radial-gradient(circle, transparent 10%, #00b533 15%, transparent 20%),
      radial-gradient(circle, #00b533 20%, transparent 20%),
      radial-gradient(circle, #00b533 20%, transparent 20%),
      radial-gradient(circle, #00b533 20%, transparent 20%),
      radial-gradient(circle, #00b533 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 20% 20%, 18% 18%;
    background-position: 50% 0%;
    animation: greenbottomBubbles 0.6s ease;
  }
  
  @keyframes greenbottomBubbles {
    0% {
      background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
        70% -10%, 70% 0%;
    }
  
    50% {
      background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
        105% 0%;
    }
  
    100% {
      background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
        110% 10%;
      background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
  }